@import url('https://fonts.googleapis.com/css2? familia= Poppins:ital,peso@0,100;0,400;1,900 &familia = Arenas movedizas: peso @ 300 & display=swap');

*{ 
padding: 0;
margin: 0;
box-sizing: border-box;
}

html,body { 
	width: 100%;
	height: 100%;
}

header{ 
	background-image: url(img/tienda.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

#main{ 
	background: transparent;
	width: 100%;
	height: 50px;
}

#main .logo {
	float: left;
}

.logo{
	background: url(img/logo.png);
	width: 150px;
	height: 150px;
	background-position: center;
	background-size: cover;
	margin-left: 40px;
	margin-top: -25px;
}

#main nav ul{ 
	float: right;
	margin-right: 20px;
	margin-top: 20px;
}

#main nav ul li {
	list-style-type: none;
	display: inline-block;
	margin: 0.8px;
	line-height: 50px;
}

#main nav ul li a{ 
	text-decoration: none;
	color: #fff;
	font-size: 14px;
	padding: 6px 13px;
	transition: 0.4s all ease-out;
	font-family:'Quicksand', sans-serif;
}

#main nav ul li a.ctive,
#main nav ul li a:hover{
	background: #f599f6;
	color: #fff;
	transition: 0.4s all ease-out;
}

.text{ 
	transform: translate(-50%,-50%);
	position: absolute;
	top: 54%;
	left:35%;
}

.text h1{ 
	color: #fff;
	font-size: 150px;
	font-family:'Poppins', sans-serif;
}

.tex span{
	width: 4px;
	height: 20px;
	background: translate(-50%,-50%);
	position: absolute;
	top: 5%;
	left: -15%;

 }
 .text p{
 	font-size:34px;
 	line-height: 25px;
 	letter-spacing: 2px;
 	color: #fff;
 	font-family:'Poppins', sans-serif;
  }
 .text .btn{
 	width: 150px;
 	height: 35px;
 	border: none;
 	background: #f599f6;
 	color: #fff;
 	transition: 0.5s all ease-out;
 	margin-top: 10px;
 	font-family:'Quicksand', sans-serif;
}
.text .btn:hover{
	background: #transparent;
	border: 1px solid #fd4a47;
	transition: 0.5 all ease-out;

}
/*final del codigo logo*/

/*Redes sociles*/

*{box-sizing:border-box;}

.container{
	width:95%;
	max-width:900px;
	padding:32px 64px;
	margin:auto;
}

.social{
	width:48px;
	position:fixed;
	top:50px;
	right:0;
}

		

.social{
			
    top:50%;
    height:300px;
    margin-top:-100px;
}
/*final codigo redes sociales*/

/*tienda en linea*/
body{ 

    box-sizing:border-box;
    position: absolute;
    justify-content: space-around;

    } 

  

  

.producto{ 

	padding: 1em; 

	max-width: 250px; 

	display: flex; 

	flex-flow: column; 

	border-radius: 8px; 

	box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.2); 

	background-color: rgb(255, 255, 255); 

	cursor: pointer; 

	transition-property: box-shadow; 

	transition-duration: 0.10s ; 

} 

  

.producto:hover{ 

	box-shadow: 0 0 1.5-em rgb(0, 0, 0.2); 

  } 

  

.producto > img{  

	width: 100%; 

	object-fit: cover; 

} 

  

.informacion{ 

	border-top: 1px solido rgb(230, 230, 230); 

	padding: 1em; 

	display: flex; 

	flex-flow: column; 

  

} 

  

.informacion * + *{  

	  margin-bottom: 0.5em; 

} 

  

.tipodeenvio{  

	background-color: hotpink ; 

	color: white; 

	font-weight: 600; 

	max-width: max-content; 

	padding: 0 0.2em; 

	border-radius: 3px; 

} 

  

  

.precioenvio, .descripcion, .ubicacion{  

	font-size: 0.9em; 

		font-family:'Quicksand', sans-serif; 

} 

  

.precio{  

	font-size: 1.5em; 

	 

} 

  

.precioenvio{ 

	color: green; 

} 

  

.descripcion, .ubicacion, .clasificacion { 

	font-weight: 300; 

} 

  

.clasificacion, .ubicacion, .calificacion{  

	transition-duration: 0.3s; 

	transition-property: opacity; 

	opacity: 0; 

  

} 

  

.producto:hover .clasificacion,  

.producto:hover .ubicacion{ 

opacity: 1;  

} 

  

.calificacion{ 

	display: flex; 

	flex-flow: row nowrap; 

	align-items: flex-end; 

} 

  

.calificacion{ 

	margin: 0; 

} 

  

.tipodeenvio, .clasificacion{  

	font-size: 0.8em; 

}  

  

.clasificacion > span: frist-child{ 

	color: hotpink; 

} 

 
 /*final del codigo tienda*/

